@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

:root {
	--tan: #d5aa75;
	--brown: #945c3f;
	--blue: #235770;
	--l-blue: #49787f;
	--l-dark: #2c2928;
}

/*--------------
--Contact Info
---------------*/

.c-info {
	background-color: var(--l-blue);
	padding: 8px 0;
	text-align: right;
}

.c-info ul {
	padding: 0;
	margin: 0;
}
	.c-info li {
		display: inline-block;
	}

	.c-info a {
		color: white;
		font-family: 'Roboto Slab', serif;
	}

.c-info-br {
	border-right: white thin solid;
	padding-right: 8px;
}

@media only screen and (max-width:768px) {
	.c-info {
		text-align: center;
	}
}
/*---------------
--Navbar
----------------*/

.navbar {
	background-color: rgba(178,178,178, 0.7);

}

.navbar .dropdown-menu ul {
	padding: 0;
	margin: 0;
}

.nav-link {
	font-size: 16px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: white !important;
	font-family: 'Roboto Slab', serif;
}
	.nav-link:hover {
		color: #e5e5e5 !important;
	}

.navbar-brand img {
	width: 100px;
	max-width: 100%;
}

.nav-off {
	transition: all .3s ease-in-out;
}

.nav-fade {
  	background-color: rgba(204,204,204, 0.9);
  	border-bottom: var(--blue) thin solid;
  	transition: all .3s ease-in-out;
}

@media only screen and (max-width:767px) {
	.bg-mobile {
		background-color: var(--l-dark);
	}
	.nav-link {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar {
		padding-top: 17px;
		padding-bottom: 16px;
	}
}
/*--------------
--Header
---------------*/

.head {
	position: relative;
	top: -90px;
	height: 700px;
	overflow: hidden;
	background: url('site/hero.jpg');
	background-size: cover;
	background-position: center center;
}

	.head::before {
		content: "";
		position: absolute;
		top: 90px;
		bottom: 0;
		left: 0;
		right: 50%;
		background-color: var(--blue);
		opacity: 0.7;
		z-index: 5;
	}

.head-d {
	position: relative;
	height: auto;
	top: -90px;
	overflow: hidden;
	background: url('site/hero.jpg');
	background-size: cover;
	background-position: center center;
}

	.head-d::before {
		content: "";
		position: absolute;
		top: 90px;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--blue);
		opacity: 0.5;
		z-index: 5;
	}

.head-d .container {
	position: relative;
	margin-top: 115px;
	z-index: 10;
	padding-bottom: 25px;
}

.head-d h1 {
	color: white;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
	font-size: 2.8rem;
}

.head-container {
	position: relative;
	top: 90px;
	z-index: 10;
	width: 50%;
	padding-right: 15px;
}

.head-item {
	margin-left: 130px;
	margin-top: 130px;
}

.head h1 {
	color: white;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
	font-size: 3rem;
}
	.head h1 span {
		color: var(--tan);
	}

	.head h1 span::before {
		content: "";
		position: relative;
		display: inline-block;
		height: 3px;
		width: 130px;
		background-color: var(--tan);
		margin-bottom: 10px;
		margin-right: 10px;
	}

.head p {
	color: white;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Roboto Slab', serif;
}

a.h-btn {
	border-radius: 0;
	background-color: var(--tan);
	color: white;
	padding: .875rem 1.75rem;
}

	a.h-btn:hover {
		background-color: var(--brown);
	}

@media only screen and (max-width: 1200px) {
	.head::before {
		right: 20%;
	}

	.head-container {
		position: relative;
		top: 90px;
		z-index: 10;
		width: 80%;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 992px) {
	.head::before {
		right: 0%;
	}

	.head-container {
		position: relative;
		top: 90px;
		z-index: 10;
		width: 100%;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.head-item {
		margin-left: 80px;
		margin-top: 80px;
	}
}

@media only screen and (max-width: 576px) {
	.head-item {
		margin-left: 20px;
		margin-top: 20px;
	}
	.head {
		height: 700px;
	}
}

@media only screen and (max-width: 450px) {
	.head {
		height: 800px;
	}
}

/*----------------
--Section-Alert
-----------------*/

.section-alert {
	border-top: var(--blue) thin solid;
	padding: 2rem 0;
}

	.section-alert h3 {
		font-weight: 400;
		font-family: 'Roboto Slab', serif;
	}

	.section-alert a {
		color: var(--blue);
	}

		.section-alert a:hover {
			opacity: 0.7;
		}

/*--------------
--Footer
--------------*/

.foot {
	background-color: var(--blue);
	color: white;
}

	.foot a {
		color: var(--light);
	}

		.foot a:hover {
			color: var(--light);
			opacity: 0.7;
		}

	.foot li {
		padding: 8px 0;
		border-bottom: var(--light) thin solid;
		list-style: none;
	}
	
		.foot li a {
			display: block;
		}

.foot-bottom {
	padding: 1.2rem 0;
	background-color: black;
	text-align: center;
}



