@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|DM+Serif+Display&display=swap');

:root {
	--l-blue: #6aa3d5;

	--DM-Serif: font-family: 'DM Serif Display', serif;
	--Cinzel: font-family: 'Cinzel', serif;
}

body {
	color: #212529;
}

/*-----------------------
--Globe Header
-----------------------*/

.head-globe {
	height: 680px;
	overflow: hidden;
	position: relative;
	background-color: #6aa3d5;
	background-color: var(--l-blue);
	padding-top: 140px;
}

.hg-contain {
	width: 700px;
	position: absolute;
	left: 50%;
  	transform: translateX(-50%);
  	z-index: 20;
}
.globe {
	text-align: center;
}
.globe img {
	-webkit-animation: globe 30s infinite; /* Safari 4.0 - 8.0 */
  	animation: globe 30s infinite;
  	animation-delay: 1s;
  	animation-timing-function: linear;
	width: 512px;
  	
}

@-webkit-keyframes globe {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}


@keyframes globe {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
.rf-rocket-g {
	position: relative;
	-webkit-animation: globe-rocket 10s infinite;
  	animation: globe-rocket 10s infinite;
  	animation-delay: 1s;
  	animation-timing-function: linear;
  	top: 300px;
  	
}
.rf-rocket-g img{
	
}

.rocket {
	position: relative;
	top: 0;
	left: 0;
	z-index: 10;
}

.fire {
	position: absolute;
	top: 83px;
	left: -3.5px;
	z-index: 5;
	-webkit-animation: globe-fire 0.3s infinite;
  	animation: globe-fire 0.3s infinite;
  	animation-delay: 1s;
  	animation-timing-function: linear;
}

@-webkit-keyframes globe-fire {
	0% {
		width: 54px;
		height: 123px;
	}
	50% {
		width: 52px;
		height: 127px;
	}
	100% {
		width: 54px;
		height: 123px;
	}
}

@keyframes globe-fire {
	0% {
		width: 54px;
		height: 123px;
	}
	50% {
		width: 52px;
		height: 127px;
	}
	100% {
		width: 54px;
		height: 123px;
	}
}	

@-webkit-keyframes globe-rocket {
	0% {
		left: 0;
		top: 320px;
		transform: rotate(0deg);
	}
	25% {
		top: 320px;
		left: 4%;
		transform: rotate(25deg);
	}
	50% {
		top: 320px;
		left: 4%;
		transform: rotate(90deg);
	}
	75% {
		top: 320px;
		left: 3%;
		transform: rotate(145deg);
	}
	100% {
		top: 350px;
		left: 3%;
		transform: rotate(190deg);
	}
}

@keyframes globe-rocket {
	0% {
		left: 0;
		top: 320px;
		transform: rotate(0deg);
	}
	25% {
		top: 320px;
		left: 4%;
		transform: rotate(25deg);
	}
	50% {
		top: 320px;
		left: 4%;
		transform: rotate(90deg);
	}
	75% {
		top: 320px;
		left: 3%;
		transform: rotate(145deg);
	}
	100% {
		top: 350px;
		left: 3%;
		transform: rotate(190deg);
	}
}

/*-------------------
--Header
-------------------*/

.head-globe span {
	text-align: center;
	color: #fff;
	font-family: 'Cinzel', serif;
	font-weight: 700;
	font-size: 4rem;
	position: relative;
	z-index: 10;
}
	.head-globe span::before {
		content: "";
		position: absolute;
		top: auto;
		bottom: 15px;
		left: 0;
		right: 0;
		height: 15px;
		background-color: #afabd2;
		z-index: -1;
	}
.head-globe p {
	color: #fff;
	font-size: 1.8rem;
}
.top-content {
	
}
.top-item {
	position: relative;
	z-index: 10;
}

@media only screen and (max-width:576px) {
	.head-globe span {
		font-size: 3rem;
	}
}
@media only screen and (max-width:385px) {
	.head-globe span {
		font-size: 2rem;
	}
	.head-globe span::before {
		bottom: 5px;
	}
}

/*------------------
--Default-Header
-------------------*/

.d-head {
	position: relative;
	background-color: #6aa3d5;
	height: 300px;
	overflow: hidden;
}
.d-logo {
	text-align: center;
	position: relative;
	z-index: 10;
	top: 50px;
}
/*-------------------
--Home-SVG
-------------------*/

.h-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	z-index: 5;
	width: 50%;
}
.h-item svg {
	width: 100%;
}
.h-item-d {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	z-index: 5;
	width: 100%;
	max-width: 1400px;
}
.h-item-d svg {
	width: 100%;
}
.svg-key {
	-webkit-animation: svg 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: svg 5s infinite;
  	animation-delay: 1s;
}
.svg-key-2 {
	-webkit-animation: svg 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: svg 5s infinite;
  	animation-delay: 1.5s;
}
.svg-key-3 {
	-webkit-animation: svg 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: svg 5s infinite;
  	animation-delay: 2s;
}

@keyframes svg {
	0%{
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}
@media only screen and (max-width:1240px) {
	.h-item {
		width: 70%;
	}
}
@media only screen and (max-width:992px) {
	.h-item {
		width: 100%;
	}
}
/*----------------
--Navbar
-----------------*/
.navbar {
	padding: 0;
}
.navbar .dropdown-menu ul {
	padding: 0;
	margin: 0;
}
a.nav-link {
	color: #fff !important;
	padding: 15px 8px;
	border-bottom: transparent medium solid;
	transition: all 0.2s ease-in-out;
}
	.nav-off a.nav-link:hover {
		border-bottom: #afabd2 medium solid;
		color: #fff !important;
	}
	.nav-fade a.nav-link:hover {
		background-color: #6aa3d5;
		border-bottom: #6aa3d5 medium solid;
		color: #fff !important;
	}
.nav-off {
	position: fixed;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	border-bottom: transparent medium solid;
}
	.nav-off::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 100%;
		left: 0;
		right: 0;
		background-color: #fff;
		transition: all .3s ease-in-out;
	}
	
.nav-fade {
  	border-bottom: #6aa3d5 medium solid;
  	transition: all .3s ease-in-out;
}
	.nav-fade::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		transition: all .3s ease-in-out;
	}
	.nav-fade a {
		color: #000 !important;
		transition: all .3s ease-in-out;
	}

.nav-off .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
}

.nav-off .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.nav-fade .navbar-toggler {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.5);
}

.nav-fade .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media only screen and (max-width:767px) {
	.navbar {
		padding: 10px;
	}
	.nav-off {
		background-color: var(--l-blue);
	}
}

/*------------------
--Fade-in-Styles
------------------*/
.inset-left {
	opacity: 0;
	margin-left: -50px;
	transition: all 0.5s ease-in-out;
}
.inset-right {
	opacity: 0;
	margin-left: 50px;
	transition: all 0.5s ease-in-out;
}
.inset-zero {
	opacity: 1;
	margin: 0px;
}

/*------------------
--section-1
-----------------*/

.section-1 {
	background-color: black;
	background-color: var(--l-blue);
	padding: 2rem 0;
	overflow: hidden;
}

.section-1 img {
	width: 100%;
}

.section-1 a {
	color: #efeef6;
}

/*----------------
--Section-2
----------------*/

.section-2 {
	padding: 2rem 0;
	overflow: hidden;
}

.section-2 img {
	width: 100%;
}

/*---------------
--Section-3
----------------*/

.section-3 {
	background-color: #6058a6;
	padding: 2rem 0;
	border-bottom: #fff medium solid;
	overflow: hidden;
}

.section-3 img {
	width: 100%;
}

.section-3 a {
	color: #e1ecf6;
}

/*-------------
--Section-4
--------------*/
.section-4 {
	background-color: var(--l-blue);
	overflow: hidden;
}

.mod-container {
	width: 100%;
	max-width: 1800px;
	height: auto;
	margin: 0 auto;
}
.column-4 {
	-webkit-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.mod-item {
	position: relative;
	background-color: var(--l-blue);
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	padding: 2rem 0;
	border: #fff medium solid;
	z-index: 5;
	transform: scale(1);
	transition: all 0.2s ease-in-out;
}
.mod-item span {
	position: relative;
	z-index: 10;
}
.mod-item:hover {
	background-color: #6058a6;
	transform: scale(1.1);
	z-index: 10;
	
}

@media only screen and (max-width:1200px) {
	.column-4 {
		-webkit-flex: 0 0 33%;
		flex: 0 0 33%;
		max-width: 33%;
	}
}

@media only screen and (max-width:992px) {
	.column-4 {
		-webkit-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media only screen and (max-width:576px) {
	.column-4 {
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}



/*----------------
--Section-5
----------------*/

.section-5 {
	padding: 2rem 0;
	overflow: hidden;
}

.section-5 img {
	width: 100%;
}
/*--------------
--Footer
---------------*/

.foot {
	background-color: #343a40;
	color: #fff;
	padding-top: 2rem;
	border-top: #6aa3d5 medium solid;
}

.foot-container {
	width: 100%;
	padding: 0 5%;
	max-width: 1800px;
}

.foot p {
	font-family: Arial;
	font-size: 0.95rem;
	font-weight: 200;
}

.foot a {
	color: #fff;
	color: var(--l-blue);
}
	.foot a:hover {
		color: #fff;
		opacity: 0.7;
	}
.foot ul {
	padding: 0;
	margin: 0;
}
	.foot li {
		list-style: none;
		padding: 8px 0;
	}
		.foot li a {
			display: block;
		}


.foot .list-social {
	display: flex;
	align-items: center;
}
	.foot .list-social li {
		display: inline-block;
		margin-top: 8px;
		padding: 15px 15px;
		text-align: center;
	}
		.foot .list-social li a {
			display: initial;
		}
.foot .list-social .fab {
	font-size: 1.5rem;
}

.column-4-f {
	-webkit-flex: 0 0 22%;
	flex: 0 0 22%;
	max-width: 22%;
	padding: 0 30px;
}
.column-3-f {
	-webkit-flex: 0 0 33%;
	flex: 0 0 33%;
	max-width: 33%;
	padding: 0 30px;
}
#go {
	border-radius: 0;
}

#term {
	background-color: #343a40;
	color: #fff;
}

.foot-bottom {
	background-color: black;
	padding: 5px 0;
	text-align: center;
}

a.btn-foot {
	background-color: var(--l-blue);
	color: #fff;
	border-radius: 0;
}

@media only screen and (max-width:992px) {
	.column-4-f {
		-webkit-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 30px;
	}
	.column-3-f {
		-webkit-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 30px;
	}
}
@media only screen and (max-width:576px) {
	.column-4-f {
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 30px;
	}
	.column-3-f {
		-webkit-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 30px;
	}
}