@import url('https://fonts.googleapis.com/css?family=Gugi');

:root {
	--blue: #177e89;
	--dark-blue: #084c61;
	--redish: #db3a34;
	--yellow: #ffc857;
	--darkish: #323031;
}

a.btn-blue {
	color: var(--light);
	background-color: var(--blue);
	border-radius: 0;
}
	a.btn-blue:hover, a.btn-blue:focus {
		background-color: var(--dark-blue);
	}

/*----------------
--Container
------------------*/

.container {
	max-width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: calc(1600px + 10%);
		margin: 0 auto;
		padding-left: 5%;
		padding-right: 5%;
	}
}
/*----------------
--Navbar
----------------*/

.navbar {
	border-bottom: var(--blue) thin solid;
}

.navbar-brand {
	font-family: Gugi;
}

a.nav-link.active {
	background-color: var(--blue);
	color: var(--light) !important;
}

.dropdown-menu {
	border-bottom: var(--blue) medium solid;
	border-radius: 0;
	padding: 0;
	display: block;
	opacity: 1;
	visibility: visible;
	top: 100%;
}

	.dropdown-item a {
		color: var(--dark);
		padding: 5px 0;
		display: block;
	}

	.dropdown-menu ul {
		padding: 0;
		margin: 0;
	}

		.dropdown-menu li {
			
		}

	.dropdown-menu.show {
		display: block;
		top: 100%;
		opacity: 1;
		visibility: visible;
	}

	.dropdown-item.active, .dropdown-item:active {
		text-decoration: none;
		background-color: transparent;
	}

		.dropdown-item.active a, .dropdown-item:active a{
			color: var(--blue);
		}

.nav-off {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	-webkit-transition: -webkit-transform .33s ease-in-out;
	transition: -webkit-transform .33s ease-in-out;
	-o-transition: transform .33s ease-in-out;
	transition: transform .33s ease-in-out;
	transition: transform .33s ease-in-out,-webkit-transform .33s ease-in-out;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
.nav-fade {
  	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

@media only screen and (min-width: 768px ) {
	.navbar {
		padding: 0;
	}

	.nav-link {
		padding: 15px;
	}
	.dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		top: 110%;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out; 
	}
	.dropdown-menu.show {
		display: block;
		top: 100%;
		opacity: 1;
		visibility: visible;
	}
}

/*------------------
--Jumbotron
-------------------*/

.jumbotron {
	position: relative;
	background: url('site/tmp2.jpg');
	min-height: 500px;
	z-index: 1;
	margin: 15px -15px 0 -15px;
	padding-top: 15%;
}

	.jumbotron h1 {
		font-weight: 600;
	}

	.jumbotron .container {
		position: relative;
		z-index: 10;
		color: var(--light);
	}

.jumbo-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.4);
}

a.btn-jumbo {
	color: var(--light);
	background-color: var(--darkish);
	border-radius: 0;
}
	a.btn-jumbo:hover, a.btn-jumbo:focus {
		background-color: var(--dark);
	}

.jumbotron-p {
	margin: 15px -15px 0 -15px;
}

@media only screen and (min-width: 768px) {
	.jumbotron-p {
		padding-top: 5%;
		min-height: auto;
		margin: 15px 0 0 0;
	}
}
/*---------------
--Posts
-----------------*/
.lp-h img:hover {
	opacity: 0.9;
}

.tp-h img:hover {
	opacity: 0.9;
}

.fp-f img:hover {
	opacity: 0.9;
}

.tp-f {
	
}
	.tp-f img:hover {
		opacity: 0.9;
	}
	.tp-f-item {
		position: relative;
		margin-top: 15px;
	}
	.tp-f-overlay {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.4);
		color: var(--light);
	}
		.tp-f-overlay a {
			color: var(--light);
		}
.cat-item {
	position: relative;
	margin-top: 15px;
}
	.cat-item:hover {
		opacity: 0.9;
	}
	.cat-icon {
		background-color: var(--blue);
		color: var(--light);
		text-align: center;
		padding: 70px 20px 90px 20px;
	}
		.cat-icon .fas {
			font-size: 60px;
		}
	.cat-overlay {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.4);
		color: var(--light);
	}
		.cat-overlay a {
			color: var(--light);
		}
/*---------------
--Content
----------------*/

.p-content {
	color: var(--darkish);
	background-color: white;
}

.p-sidebar {
	color: var(--darkish);
	background-color: #ececec;
}

	.p-sidebar a {
		color: var(--darkish);
	}

.b-post {
	margin-bottom: 10px;

}

/*--------------
--scroll-to-top
---------------*/
.scrolltop {
	position: fixed;
	top: auto;
	bottom: 20px;
	left: auto;
	right: 20px;
	opacity: 0;
	visibility: hidden;
	z-index: 1040;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.scrolltop:hover {
	cursor: pointer;
}
.scroll-fade {
	opacity: 1;
	visibility: visible;
}
.scroll-icon {
	background-color: var(--darkish);
	padding: 5px 15px;
	border-radius: 50%;
}
.scroll-icon .fa-angle-up {
	color: var(--blue);
}
/*--------------
--info/follow
---------------*/

.i-f {
	background-color: var(--blue);
	color: var(--light);
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	padding: 1.1rem;
}

	.i-f .fab {
		color: var(--light);
	}
	.i-f .fab:hover {
		opacity: 0.7;
	}

/*----------------
--Footer
-----------------*/

.foot {
	background-color: var(--darkish);
	color: var(--light);
}