@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

:root {
	--green: #43cea2;
	--blue: #185A9D;
}


/*-------------
--Navbar
--------------*/
.navbar {
	border-bottom: var(--blue) thin solid;
}
.navbar-brand img {
	width: 150px;
	max-width: 100%;
}
.navbar .dropdown-menu ul {
	padding: 0;
	margin: 0;
}
/*-------------
--Header
--------------*/
.head {
	position: relative;
	height: 700px;
	overflow: hidden;

}
.col-50 {
	flex: 0 0 53%;
	max-width: 53%;
}

.head-item-social ul {
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 10;
}
.head-item-social li {
	display: inline-block;
	background-color: white;
}
.head-item-social a {
	color: var(--dark);
	padding: 10px 20px;
}
	.head-item-social a:hover {
		color: var(--green);
	}
.head-item-text {
	padding-top: 100px;
}
.head-item-text h1 {
	padding-left: 100px;
	position: relative;
	z-index: 10;
	color: var(--info);
    font-size: 5rem;
    font-weight: 600;
    line-height: 70px;
    font-family: 'DM Serif Display', serif;
}
.btn-head {
	background-color: #185a9d;
	color: var(--light);
	padding-left: 100px;
	margin-top: 8px;
	position: relative;
	top: 100px;
	bottom: auto;
	transition: all 0.5s ease-in-out;
	border-radius: 0;
	z-index: 10;
}
	.btn-head:hover {
		background-color: var(--green);
		color: var(--light);
	}
.head-item-text span {
	color: var(--green);
}
.head-item-img {
	position: absolute;
	top: 0;
	bottom: auto;
	left: 30%;
	right: 0;
	height: 700px;
	background: url('site/hero-bg.jpg');
	background-position: center right;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
	.head-item-img::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.3;
		background: #43cea2;
  		background: -webkit-linear-gradient(to right, #43cea2, #185a9d);
  		background: linear-gradient(to right, #43cea2, #185a9d);
  		z-index: 5;
	}
	.head-item-img img {
		max-width: 100%;
		height: auto;
	}
.anim-1 {
	opacity: 0;
	-webkit-animation: anim-left 1s; /* Safari 4.0 - 8.0 */
  	animation: anim-left 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 1s;
}
.anim-2 {
	opacity: 0;
	-webkit-animation: anim-left 1s; /* Safari 4.0 - 8.0 */
  	animation: anim-left 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 1.3s;
}
.anim-3 {
	opacity: 0;
	-webkit-animation: anim-left 1s; /* Safari 4.0 - 8.0 */
  	animation: anim-left 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 1.6s;
}
@keyframes anim-left {
		from {
			padding-left: 80px;
			opacity: 0;
		}
		to {
			padding-left: 100px;
			opacity: 1;
		}
	}
@media only screen and (min-width:2000px) {
	.head-item-img {
		background-size: cover;
	}
}
@media only screen and (max-width:1200px) {
	.head-item-img {
		left: 20%;
	}
	.head-item-text {
		padding-top: 100px;
	}
	.head-item-text h1 {
		padding-left: 50px;
	}
	.btn-head {
		padding-left: 50px;
	}
	.col-50 {
		flex: 0 0 60%;
		max-width: 60%;
	}
	@keyframes anim-left {
		from {
			padding-left: 80px;
			opacity: 0;
		}
		to {
			padding-left: 100px;
			opacity: 1;
		}
	}
}
@media only screen and (max-width:992px) {
	.head-item-img {
		left: 10%;
	}
	.head-item-text {
		padding-top: 60px;
	}
	.head-item-text h1 {
		padding-left: 20px;
		font-size: 4rem;
	}
	.btn-head {
		padding-left: 20px;
	}
	.col-50 {
		flex: 0 0 60%;
		max-width: 60%;
	}
	.head-item-img {
		background-position: center center;
	}
	@keyframes anim-left {
		from {
			padding-left: 0px;
			opacity: 0;
		}
		to {
			padding-left: 20px;
			opacity: 1;
		}
	}
}
@media only screen and (max-width:768px) {
	.head-item-img {
		left: 0;
	}
	.head-item-text {
		padding-top: 40px;
	}
	.head-item-text h1 {
		padding-left: 20px;
	}
	.btn-head {
		padding-left: 26%;
	}
	.col-50 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.head-item-social ul {
		width: 50%;
		margin-left: 20px;
	}
}

@media only screen and (max-width:450px) {
	.head-item-social ul {
		width: 90%;
	}
}

/*----------------
--Jumbotron
-----------------*/

.jumbotron {
	background: url('site/hero-d.jpg');
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	border-radius: 0;
	color: var(--light);
	margin: 0;
}

@media only screen and (max-width:768px) {
	.jumbotron {
		background-size: cover;
	}
}

/*---------------
.section-alert-1
---------------*/

.sec-alert-1 {
	padding: 1.5rem 0;
	border-top: var(--blue) thin solid;
	border-bottom: var(--blue) thin solid;
	background-color: var(--light);
}
.sec-alert-1 ul {
	margin: 0 auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.sec-alert-1 li {
	display: inline-block;
	list-style: none;
}
.sec-alert-1 img {
	width: 80px;
	max-width: 100%;
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
}
/*-------------
--Footer
--------------*/

.foot {
	background-color: var(--blue);
	color: var(--light);
}
	.foot a {
		color: var(--light);
	}
		.foot a:hover {
			color: var(--light);
			opacity: 0.7;
		}
	.foot li {
		padding: 8px 0;
		border-bottom: var(--light) thin solid;
		list-style: none;
	}
		.foot li a {
			display: block;
		}
.foot .library-image {
	margin: 0;
}
.foot-bottom {
	padding: 1.5rem 0;
	text-align: center;
	background-color: black;
}
