#canvas {
	width: 500px;
	height: 500px;
	border: black solid thin;
}

/*-----------Dynamic CSS-----------*/



.available span {
	background:green;
}

.nearby span::after {
	content: 'nearby';
	margin-left:10px;
}


/*------------- Punching Bage Game -------------------*/

.bag {
	position: relative;
	width: 250px;
	background-color:black;
	height:500px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.black {
	background-color: black;
	position: relative;
}
	.black::before {
		content: 'ONE DOWN';
		position: absolute;
		top:40%;
		bottom:auto;
		left:50%;
		right:0;
		transform:translateX(-50%);
		color:#fff;
		font-size: 2rem;
	}
.health {
	width:200px;
	border: black thin solid;
	margin: 0 auto;
	margin-top: 50px;
}
	.health div {
		height:20px;

	}
#restart {
	margin-top: 10px;
	text-align: center;
}

.btn-punch {
	background-color: #4D9AD4;
	color:#fff !important;
}
	.btn-punch:hover {
		opacity: 0.8;
	}
.on {
	position: absolute;
	top: 30%;
	bottom:auto;
}
.off {
	display: none;
}
#green {
	background:#359245;
}
.red {
	background-color: #4D9AD4;
}
	#green.red {
		background-color:red !important;
	}
.blue {
	background-color:#68132E;
}
	.blue::before {
			content: "BOSS";
			position: absolute;
			top:10px;
			bottom:auto;
			left:50%;
			right:0;
			transform:translateX(-50%);
			color:#fff;
			font-size: 3.3rem;
			font-weight: 700;
	}
