@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


/*-----------------
--Navbar
------------------*/

.navbar-brand img {
	width: 100px;
	max-width: 100%;
}

.dropdown-menu ul {
	padding: 0;
	margin: 0;
}

.nav-fade {
  	background-color: var(--light);
  	border-bottom: #167fb2 thin solid;
  	transition: all .5s ease-in-out;
}
	.nav-fade a {
		color: var(--dark);
	}
/*-----------------
--Jumbotron
-----------------*/

.jumbotron {
	position: absolute;
	background: url('site/hero-1.jpg');
	background-size: cover 100%;
	background-repeat: no-repeat;
	max-width: 100%;
	min-width: 50%;
	height: 100vh;
	border-radius: 0;
	z-index: 10;
}
.jumbo-d {
	position: relative;
	background: url('site/jumbo-d.jpg');
	background-position: center;
	min-width: 100%;
	max-width: 100%;
	padding: 3rem 5%;
	height: auto;

}
.jumbo-head {
	position: relative;
	padding: 1rem 0;
	text-align: center;
	color: var(--light);
	z-index: 10;
}
.jumbo-container {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: linear-gradient(#0da2db, #0fba9e);
	opacity: .78;
}
.jumbo-d-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
	z-index: 5;
	background: linear-gradient(#0da2db, #0fba9e);
	opacity: .5;
}
.jumbo-item {
	position: relative;
	max-width: 70%;
	left: 100px;
	color: var(--light);
}

.jumbo-item p {
	font-size: 1.4rem;
	font-weight: bold;
}
@media only screen and (max-width:1200px) {
	.jumbo-item {
		left: 25px;
	}
	.jumbo-item img {
		max-width: 450px;
	}
}
@media only screen and (max-width:992px) {
	.jumbo-item img {
		max-width: 350px;
	}
}
@media only screen and (max-width:768px) {
	.jumbotron {
		position: relative;
		min-width: 100%
	}
	.jumbo-item {
		max-width: 100%;
		left: 0;
		text-align: center;
	}
	.jumbo-item img {
		max-width: 100%;
	}
}
/*--------------
--header
---------------*/

.head-item {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.head-item h2 {
	font-size: 4rem;
	font-weight: 600;
	line-height: 1.2;
	font-family: Roboto Mono;
	color: var(--dark);
	position: absolute;
	top: 30%;
	z-index: 5;
}
.head-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}
.head-img img {
	max-width: 700px;
}
.bg-head {
	/*background: url('site/hero-2.png');
	background-size: auto 100%;
	background-repeat: no-repeat;*/
}

/*-------------
--Footer
-------------*/

.foot {
	background: url('site/foot.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: var(--light);
}

.foot-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(#0da2db, #0fba9e);
	opacity: .78;
}

.foot li {
	list-style: none;
}

.foot a {
	color: var(--light);
}
	.foot a:hover {
		color: var(--light);
		opacity: .78;
	}