:root {
  --site: #007645;
  --site-accent: #1b7d1e;
  --dark: #343a40;
  --light: #f8f9fa;
}

/*-------------
--Nav-Top
-------------*/

.nav-top {
  background-color: #007645;
  background-color: var(--site);
  color: white;
  text-align: center;
}
  .nav-top a {
    color: white;
  }

/*-------------
--Header
--------------*/
header.bg-light .container {
  width: 1170px;
  max-width: 100%;
}

header.bg-light img {
  width:150px;
}

header.bg-light ul {
  list-style: none;
  padding:0;
}
@media only screen and (max-width: 992px){
  header.bg-light .container {
    width: 767px;
  }
}
@media only screen and (max-width: 767px){
  header.bg-light .container {
    width: 576px;
  }
}
@media only screen and (max-width:576px){
  header.bg-light {
    text-align: center;
  }
}
/*-------------
--Navbar
--------------*/
.navbar {
  border-bottom: #007645 2px solid;
  border-bottom: var(--site) 2px solid;
}
.navbar .navbar-nav {
  margin-right: auto;
}
.nav-link {
  padding-top: 25px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,1);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,0.5);
  transition: 0.2s all ease-in-out;
}
.navbar .dropdown-menu {
  border-bottom: #007645 2px solid;
  border-bottom: var(--site) 2px solid;
}
  .navbar .dropdown-menu ul {
    padding:0;
  }
  .navbar .dropdown-menu li:hover {
    background-color: transparent;
  }
  .navbar .dropdown-menu a {
    color: black;
    display: block;
  }
.nav-scroll {
  position: fixed;
  top:0;
  bottom:auto;
  left:0;
  right:0;
  z-index: 1000;
}
.nav-scroll .nav-link {
  padding-top: .5rem;
}
/*--------------
--Swiper
----------------*/

.swiper-container {
  border-bottom: #007645 2px solid;
  border-bottom: var(--site) 2px solid;
}
/*-------------
--Alert-Box
--------------*/

.alert-box {
  background-color: red;
  background-color: var(--danger);
  color: white;
}
  .alert-box a {
    color: white;
  }
/*------------
--Hotlinks
--------------*/
.hotlinks {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  text-align: center;
}
.hotlinks a {
  color: #007645;
  color: var(--site);
  display: block;
  font-size: 25px;
}


/*-----------
--Cards
-------------*/
.box-cards .card {
  border: rgba(0,118,69,0.5) thin solid;
}
.box-cards .card-title img {
  display: none;
}
.box-cards .card-header {
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-bottom: rgba(0,118,69,0.5) thin solid;
}
.box-cards .card-item {
  padding:4px 0;
  border-bottom: rgba(0,0,0,0.3) thin solid;
}
.box-cards .card-body ul {
  list-style: none;
  padding:0;
}
/*-------------
--Footer
--------------*/
.foot {
  background-color: #333;
  color: white;
  padding-top: 15px;
}
  .foot a {
    color: white;
  }
    .foot a:hover {
      color: white;
      opacity: 0.7;
    }
  .foot ul {
    padding:0;
    list-style: none;
  }
    .foot li a {
      display: block;
    }
.foot img {
  width: 150px;
  max-width: 100%;
}
.foot-bottom {
  text-align: center;
  background-color: black;
}
