@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');


:root {
  --ll-blue: #87D2F1;
  --l-blue: #5ac8fa;
  --d-blue: #3e8caf;

  --patua: 'Patua One', cursive;
  --tinos:  'Tinos', serif;
}
.container-fluid {
  max-width: 1600px;
}
p {
  font-family: var(--tinos);
}

.bg-l-blue {
  background-color:var(--l-blue);
}
.btn-l-blue {
  background-color:var(--l-blue);
  border-radius: 0;
  color: #fff;
}
  .btn-l-blue:hover {
    background-color:var(--d-blue);
    color: #fff;
  }
/*-------------
--Navbar
--------------*/
.navbar {
  padding:0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


.nav-link {
  color:#fff;
  font-family: var(--patua);
  font-size: 18px;
  padding: 25px;
  border-bottom: transparent 5px solid;
}
.nav-link:hover {
  color: #3e8caf;
  border-bottom: #3e8caf 5px solid;
}
.nav-link.active {
  color: #fff;
  border-bottom: #fff 5px solid;
}
.nav-link.active:hover {
  color:#fff;
  border-bottom: #fff 5px solid;
}
.navbar-brand img {
  width: 200px;
}

.navbar .dropdown-menu {
  padding:0;
  border-radius: 0;
  background-color: var(--d-blue);
}
  .navbar .dropdown-menu::before {
    content: '';
    position: absolute;
    display: block;
    top:-15px;
    bottom:auto;
    left:40%;
    right:auto;
    width:30px;
    height:30px;
    background-color: var(--d-blue);
    transform: rotate(45deg);
  }
  .navbar .dropdown-menu ul {
    padding:0;
  }
  .navbar .dropdown-menu li {
    padding: 15px;
  }
  .navbar .dropdown-menu li:hover {
    background-color: var(--d-blue);
  }
  .navbar .dropdown-menu li a {
    color:#fff;
    display: block;
  }

.navbar-toggler {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media only screen and (max-width:767px) {
  .navbar {
    padding: 10px 0;
  }
  .nav-link {
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  .nav-link:hover {
    border-bottom: transparent 5px solid;
  }
  .nav-link.active {
    border-bottom: transparent 5px solid;
  }
  .nav-link.active:hover {
    border-bottom: transparent 5px solid;
  }
}
/*--------------
--swiper
---------------*/
.swiper-container {
  border-bottom: var(--l-blue) 5px solid;
}
.swiper-caption {
  top: 0!important;
  bottom: 0;
  left: 50% !important;
  right: 0;
  background-color: rgba(90,200,250, 0.7) !important;
  color: #fff;
  text-align: right !important;
  padding-top:200px;
  padding-right:100px;
  padding-left:100px;
}
.swiper-caption h3 {
  font-size:3.5rem;
  font-family: var(--patua);
  position: relative;
}
  .swiper-caption h3::after {
    content: '';
    position: relative;
    display: block;
    margin-left:auto;
    width:200px;
    height:8px;
    background-color:var(--d-blue);
  }
.swiper-caption p {
  font-size:18px;
}

.swiper-pagination-bullet {
  background: transparent !important;
  border: #000 2px solid;
  width: 70px!important;
  height:10px!important;
  border-radius: 0!important;
}
.swiper-pagination-bullet-active {
  border: #5ac8fa 2px solid;
  background: #5ac8fa!important;
}
.swiper-pagination {
	text-align: left !important;
  padding-left:100px;
}
@media only screen and (max-width:1200px) {
  .swiper-caption {
    padding-top:50px;
  }
}
@media only screen and (max-width:992px) {
  .swiper-caption {
    position: relative !important;
    left: 0% !important;
    color: #fff;
    text-align: center !important;
    background-color: rgba(90,200,250, 1) !important;
    padding-top:10px;
    padding-right:20px;
    padding-left:20px;
  }
  .swiper-caption h3::after {
    margin-left:auto;
    margin-right:auto;
  }
  .swiper-pagination {
  	text-align: center !important;
    padding-left:0;
  }
  .swiper-pagination-bullet {
    border: #fff 2px solid;
  }
  .swiper-pagination-bullet-active {
    border: #fff 2px solid;
    background: #fff!important;
  }
}
@media only screen and (max-width:768px) {
   .swiper-caption {
     display: block !important;
   }
}

/*-------------------
--Section-1
--------------------*/
.section-1 {
  padding-top: 50px;
  position: relative;
}
.s1-header {
  padding: 50px 0;
}
  .s1-header h3 {
    color: var(--l-blue);
    position: relative;
    font-family: var(--patua);
  }
.h-bar {
  position: absolute;
  top:0px;
  bottom:0px;
  left:50px;
  right:auto;
}
.h-bar::before {
  content: '';
  position: absolute;
  top: 45px;
  bottom:0;
  left:23px;
  right:auto;
  width:8px;
  height:auto;
  background-color:var(--l-blue);
}
.h-bar::after {
  content: '';
  position: absolute;
  top: 116px;
  bottom:0;
  left:23px;
  right:auto;
  width:120px;
  height:8px;
  background-color:var(--l-blue);
}

@media only screen and (max-width:1200px) {
  .h-bar::after {
    width:85px;
  }
}
@media only screen and (max-width:992px) {
  .h-bar {
    display: none;
  }
  .s1-header {
    text-align: center;
  }
}

/*----------------
--Section-2
-----------------*/

.section-2 {
  padding-top:80px;
  position: relative;
}
.s2-header {
  padding: 50px 0;
}
  .s2-header h3 {
    color: var(--l-blue);
    position: relative;
    font-family: var(--patua);
  }
.s2-img img {
  margin-top:30px;
}
.h-bar-2 {
  position: absolute;
  top:0px;
  bottom:0px;
  left:auto;
  right:115px;
}
  .h-bar-2::before {
    content: '';
    position: absolute;
    top: 45px;
    bottom:0;
    left:23px;
    right:auto;
    width:8px;
    height:auto;
    background-color:var(--l-blue);
  }
  .h-bar-2::after {
    content: '';
    position: absolute;
    top: 142px;
    bottom:0;
    left:auto;
    right:-23px;
    width:120px;
    height:8px;
    background-color:var(--l-blue);
  }

  @media only screen and (max-width:1200px) {
    .h-bar-2::after {
      width:70px;
    }
  }
  @media only screen and (max-width:992px) {
    .h-bar-2 {
      display: none;
    }
    .s2-header h3 {
      text-align: center;
    }
  }
  @media only screen and (max-width:767px) {
    .s2-img {
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
      .s2-img div {
        flex: 0 0 50%;
        max-width: 50%;
      }
  }
  @media only screen and (max-width:576px) {
    .s2-img div {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .s2-img img {
      margin-top:10px;
    }
  }

/*------------------
--Section-3
--------------------*/

  .section-3 {
    padding-top:50px;
  }

  .news-title {
    padding:30px 0;
    border-bottom: var(--l-blue) 2px solid;
    font-family: 'Patua One', cursive;
  }

/*-------------------
--Section-4
--------------------*/

.section-4 {
  position: relative;
  background:url('site/l-2.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top:50px;
}

.section-4::before {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
}
.s4-item {
  position: relative;
  z-index: 10;
  color:#fff;
}
  .s4-item h3 {
    padding-bottom:20px;
    border-bottom: var(--l-blue) 2px solid;
  }
.s4-p {
  padding:80px 0;
}

/*--------------
--footer
---------------*/

.foot {
  padding-top: 50px;
  background-color:var(--dark);
  color: #fff;
}
  .foot a {
    color: #fff;
  }
  .foot ul {
    padding:0;
    margin:0;
  }
    .foot li {
      list-style: none;

    }
    .foot-list li{
      padding: 8px 0;
      border-bottom:#fff thin solid;
    }
      .foot li a {
        display: block;
      }

.foot-bottom {
  background-color: #000;
  padding:30px 0;
  text-align: center;
}
