:root {
	--blue: #0da2db;
	--dark-blue: #0a81af;
	--dark-blue2: #07445A;
}

/*-------------
--Header
--------------*/

.head {
	position: relative;
	z-index: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.right-over {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: blue;
	opacity: 1;
	z-index: 5;
	-webkit-animation: unCover 1s; /* Safari 4.0 - 8.0 */
  	animation: unCover 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 1s;
}
.left-over {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: blue;
	opacity: 0.5;
	z-index: 5;
	-webkit-animation: unCover2 1s; /* Safari 4.0 - 8.0 */
  	animation: unCover2 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 1.5s;
	
}
.head-over-item {
	position: absolute;
	top: 30%;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
	color: var(--light);
	font-weight: 600;
	text-align: center;
}
	.head-over-item img {
		width: 100%;
		background-color: ;
		-webkit-animation: imgFade 1s; /* Safari 4.0 - 8.0 */
	  	animation: imgFade 1s;
	  	-webkit-animation-fill-mode: forwards;
	  	animation-fill-mode: forwards;
	  	animation-delay: 2s;
	}
.head-blocks {
	background-color: var(--blue);
	color: var(--light);
	position: relative;
	opacity: 0;
	-webkit-animation: blockFade 1s; /* Safari 4.0 - 8.0 */
  	animation: blockFade 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 2s;
}
.head-b-item {
	flex: 1 0 25%;
}
.head-link {
	padding: 15px 5px;
	display: block;
	color: var(--light);
	border-bottom: var(--dark-blue) 1px solid;
}
	.head-link:hover {
		background-color: var(--dark-blue);
		color: var(--light);
		text-decoration: none;
	}
.head-img img {
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes unCover {
	from {
		bottom: 0%;
	}
	to {
		bottom: 100%;
	}
}

@-webkit-keyframes unCover {
	from {
		bottom: 0%;
	}
	to {
		bottom: 100%;
	}
}

@keyframes unCover2 {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}
@-webkit-keyframes unCover2 {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}
@keyframes blockFade {
	from {
		top: 10%;
		opacity: 0;
	}
	to {
		top: 0%;
		opacity: 1;
	}
}
@-webkit-keyframes blockFade {
	from {
		top: 10%;
		opacity: 0;
	}
	to {
		top: 0%;
		opacity: 1;
	}
}
@keyframes imgFade {
	from {
		background-color: rgba(13,162,219, 0);
	}
	to {
		background-color: rgba(13,162,219, 0.4);
	}
}
@-webkit-keyframes imgFade {
	from {
		background-color: rgba(13,162,219, 0);
	}
	to {
		background-color: rgba(13,162,219, 0.4);
	}
}
@media only screen and (max-width: 1500px) {
	.head-img img {
		width: 1500px;
	}
	.head {
		height: 700px;
	}
}
@media only screen and (max-width:1200px) {
	.head-img img {
		width: 1200px;
	}
	.head {
		height: 560px;
	}
	.head-over-item {
		top: 20%;
	}
}
@media only screen and (max-width:992px) {
	.head-b-item {
		flex: 1 0 50%;
	}
}
@media only screen and (max-width:576px) {
	.head-b-item {
		flex: 1 0 100%;
	}
}
/*-----------------
--Navbar
------------------*/
#home .navbar {
	-webkit-animation: unCoverNav 1s; /* Safari 4.0 - 8.0 */
  	animation: unCoverNav 1s;
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
  	animation-delay: 2s;
  	top: -10%;
}
.navbar-brand img {
	width: 200px;
	max-width: 100%;
}
.navbar .dropdown-menu ul {
	padding: 0;
	margin: 0;
}
@keyframes unCoverNav {
	from {
		top: -10%;
		
	}
	to {
		top: 0%;
	}
}
@-webkit-keyframes unCoverNav {
	from {
		top: -10%;
		
	}
	to {
		top: 0%;
	}
}
/*------------
--Jumbotron
-------------*/
.jumbotron {
	background: url('site/head.jpg');
	padding: 6rem 0 4rem 0;
	color: var(--light);
	position: relative;
}
	.jumbotron .container {
		position: relative;
		z-index: 10;
	} 
	.jumbotron::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0, 0.5);
		z-index: 5;
	}
/*--------------
--Owl
---------------*/

.owl-img {
	height: 13rem !important;
}
.owl-body {
	height: 14rem !important;
}
/*-------------
--Section-1
--------------*/

.section-1 {
	background-color: var(--dark-blue2);
	color: var(--light);
}
	.section-1 a {
		color: var(--light);
	}
		.section-1 a:hover {
			color: var(--light);
			opacity: 0.7;
		}
/*-------------
--Footer
--------------*/

.foot {
	padding: 4rem 0 0 0;
	color: var(--light);
	background-color: var(--dark);
}
	.foot a {
		color: var(--light);
	}
		.foot a:hover {
			color: var(--light);
			opacity: 0.7;
		}
	.foot li {
		padding: 8px 0;
		border-bottom: var(--light) thin solid;
		list-style: none;
	}
		.foot li a {
			display: block;
		}
.foot-bottom {
	background-color: black;
	padding: 3rem 0;
	text-align: center;
}
.foot .library-image {
	margin: 0;
}