@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
	--orange: #fc4a1a;
	--blue: #4abdac;
	--dark-blue: #008080;
	--yellow: #f7b733;
	--grayish: #dfdce3;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
	transition-duration: 1s;
}

.cl-box {
	height: 20px;
}

.cl-a {
	background-color: var(--orange);
}
.cl-b {
	background-color: var(--blue);
}
.cl-c {
	background-color: var(--dark-blue);
}
.cl-d {
	background-color: var(--yellow);
}
.cl-e {
	background-color: var(--grayish);
}
/*-----------------
--Navbar
------------------*/
.navbar-brand {
	color: var(--blue) !important;
	font-family: Montserrat;
	border-right: none;
	padding-right: 0;
}

.nav-item .active {
	color: var(--blue) !important;
}

.dropdown-menu {
	display: block;
	opacity: 1;
	visibility: visible;
	top: 100%;
}
	.dropdown-menu ul {
		padding: 0;
		margin: 0;
	}

	.dropdown-item a {
		color: var(--dark);
	}

	.dropdown-menu.show {
		display: block;
		top: 100%;
		opacity: 1;
		visibility: visible;
	}

	.dropdown-item.active, .dropdown-item:active {
		text-decoration: none;
		background-color: transparent;
	}

		.dropdown-item.active a, .dropdown-item:active a{
			color: var(--blue);
		}

.nav-off {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	-webkit-transition: -webkit-transform .33s ease-in-out;
	transition: -webkit-transform .33s ease-in-out;
	-o-transition: transform .33s ease-in-out;
	transition: transform .33s ease-in-out;
	transition: transform .33s ease-in-out,-webkit-transform .33s ease-in-out;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.nav-fade {
  	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

@media only screen and (min-width: 576px) {

}
@media only screen and (min-width: 768px ) {
	.navbar-brand {
		border-right: 1px solid #dee2e6;
		padding-right: 1.5rem;
	}
	.navbar {
		padding: 0;
	}

	.nav-link {
		padding: 15px;
	}
	.dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		top: 110%;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out; 
	}
	.dropdown-menu.show {
		display: block;
		top: 100%;
		opacity: 1;
		visibility: visible;
	}
}
/*-------------------
--Global-Card-Styles
--------------------*/
.card {
	border-radius: 0;
	overflow: hidden;
}

.card-title a {
	font-family: Montserrat;
	color: var(--blue);
}

.card-img {
	border-radius: 0;
}

.card-img-top {
	border-radius: 0;
}

.card-img-overlay {
	top: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

/*------------------
--Featured-Content
--------------------*/
.featured-container-a {
	background-color: var(--grayish);
	padding-bottom: 6rem;
}

.featured-container-a .card-title a {
	font-family: Montserrat;
	color: var(--light);
}

.featured-container-b {
	background-color: var(--grayish);
}

.featured-container-b .card-title a {
	font-family: Montserrat;
	color: var(--light);
}

.latest-post {
	padding:0 10px 20px 10px;
}

.s-featured .col-sm-6 {
	padding: 10px 10px 20px 10px;
}

.latest-post .card-img-overlay {
	top: 0;
	transition: top 0.3s ease-in-out;
}

.latest-post .card:hover .card-img-overlay {
	top: 0;
}

.s-featured .card-img-overlay {
	top: 0;
	transition: top 0.3s ease-in-out;
}

.s-featured .card:hover .card-img-overlay {
	top: 0;
}

@media only screen and (min-width: 576px) {
	.s-featured .card-img-overlay {
		top: 72%;
		transition: top 0.3s ease-in-out;
	}
	.latest-post .card-img-overlay {
		top: auto;
		transition: top 0.3s ease-in-out;
	}
	.latest-post .card:hover .card-img-overlay {
		top: auto;
	}

}
@media only screen and (min-width: 768px) {
	.s-featured .card-img-overlay {
		top: 70%;
		transition: top 0.3s ease-in-out;
	}

}
@media only screen and (min-width: 992px) {
	.latest-post {
		padding:0 0 0 10px;
	}
	.s-featured .col-sm-6 {
		padding: 0px 10px 20px 10px;
	}
	.s-featured .card-img-overlay {
		top: 72%;
		transition: top 0.3s ease-in-out;
	}
}
@media only screen and (min-width:1500px) {
	.s-featured .card-img-overlay {
		top: 77%;
		transition: top 0.3s ease-in-out;
	}
}
@media only screen and (min-width:2000px) {
	.s-featured .card-img-overlay {
		top: 84%;
		transition: top 0.3s ease-in-out;
	}
}

/*------------------
--Tags
--------------------*/

.tags {
	background-color: var(--grayish);
	padding: 15px;
}

.tags a {
	color: var(--dark-blue);
}

/*-------------------
--latest-blog-items
--------------------*/
.latest-blog-items {
	position: relative;
	top: -5rem;
}

.m-lb-title {
	padding: 0 0 1rem 0;
	color: var(--dark-blue);
}

/*-----------------
--info
-------------------*/
.info-a {
	background-color: var(--blue);
	padding: 5rem 0 3rem 0;
	color: var(--light);
	-webkit-clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
	clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}

.info-b {
	background-color: var(--blue);
	padding: 2rem 0 2rem 0;
	color: var(--light);
}

.info-h {
	padding: 3rem 0 3rem 0;
}

	.info-h::before {
		content: " ";
		display: block;
		height: 5px;
		background-color: var(--light);
		margin-bottom: 1rem;
		width: 3rem;
	}

.info-lt {
	font-size: 20px;
	font-family: Montserrat;
}

	.info-lt .fab {
		font-size: 25px;
	}

	.info-lt a {
		color: var(--light);
	}
	.info-lt a:hover {
		opacity: 0.7;
	}

/*--------------------
--e-side
---------------------*/

.e-side .col-md-6 {
	padding: 0 15px;
}

@media (min-width:992px) {
	.e-side .col-lg-12 {
		padding: 0;
	}
}


/*------------------
--Footer
------------------*/

