@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

:root {

}

/*---------------
--Navbar
---------------*/

.navbar-brand img {
	width: 100px;
}
.nav-off {
	position: fixed;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	transition: all .3s ease-in-out;
  	border-bottom: transparent 2px solid;
}
.d-nav-off {
	position: fixed;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	transition: all .3s ease-in-out;
  	background-color: #00d2ff;
}
.nav-fade {
  	background-color: #928DAB;
  	transition: all .3s ease-in-out;
  	border-bottom: #00d2ff 2px solid;
}

.navbar .dropdown-menu ul {
	padding: 0;
	margin: 0;
}

a.nav-link {
	color: #fff;
	font-weight: 600;
	position: relative;
}
	a.nav-link::before {
		content: "";
		position: absolute;
		top: 100%;
		bottom: auto;
		left: 0;
		right: 100%;
		height: 2px;
		background-color: #00d2ff;
		transition: all 0.3s ease-in-out;
	}
		a.nav-link:hover::before {
			right: 0%;
		}
	a.nav-link:hover {
		color: #fff;
		opacity: 0.7;
	}
a.navbar-brand {
	color: #fff;
	font-weight: 600;
}
	a.navbar-brand:hover {
		color: #fff;
		opacity: 0.7;
	}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media only screen and (max-width:767px) {
	.nav-off {
		background-color: #928DAB;
	}
}
/*--------------
--Header
---------------*/

.head {
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	height: 700px;
  	position: relative;
  	clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.h-item {
	color: #fff;
	color: var(--light);
	text-align: center;
}

.h-item-1 {
	position: relative;
	top: 225px;
	z-index: 10;
}
	.h-item-1 span.h1 {
		font-family: 'DM Serif Display', serif;
		font-size: 4rem;
	}
	.h-item-1 p {
		font-size: 1.5rem;
		font-weight: 300;
	}

.h-item-2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 5;
}
	.h-item-2 img {
		width: 1140px;
		height: auto;
	}
a.btn-h {
	position: relative;
	border-radius: 0;
	color: #fff;
	padding: 1rem 1.5rem;
	border: 2px #00d2ff solid;
	overflow: hidden;
}
	a.btn-h::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #bdbacc; 
		transition: all 0.3s ease-in-out;
		z-index: 0;
	}
	a.btn-h span {
		position: relative;
		z-index: 5;
	}
	a.btn-h:hover::before {
		top: 100%;
	}
	a.btn-h:hover {
		color: #fff;
		background-color: transparent;
		border: 2px #bdbacc solid;
	}

.svg-key {
	-webkit-animation: svg 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: svg 5s infinite;
  	animation-delay: 1s;
}
.svg-key-2 {
	-webkit-animation: svg 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: svg 5s infinite;
  	animation-delay: 1.5s;
}
.svg-key-3 {
	-webkit-animation: svg 5s infinite; /* Safari 4.0 - 8.0 */
  	animation: svg 5s infinite;
  	animation-delay: 2s;
}

@keyframes svg {
	0%{
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

@media only screen and (max-width: 992px) {
	.h-item-1 {
		top: 125px;
	}
}
@media only screen and (max-width: 576px) {
	.h-item-1 {
		top: 0;
	}
	.head {
		padding-top: 100px;
		padding-bottom: 50px;
		height: auto;
	}
	.h-item-1 span.h1 {
		font-size: 3rem;
	}
	.h-item-1 p {
		font-size: 1.3rem;
	}
}

/*---------------
--Section Alert
----------------*/

.section-alert {
	padding: 2rem 0;
	color: #000;
	color: var(--dark);
	border-top: #00d2ff 2px solid;
	background-color: #ccc;
}
	.section-alert a {
		color: #00d2ff;
	}
		.section-alert a:hover {
			color: #00d2ff;
			opacity: 0.7;
		}

/*-------------
--Footer
--------------*/

.foot {
	background-color: #343a40;
	color: #fff;
}
	.foot a {
		color: #fff;
	}
	.foot li {
		padding: 8px 0;
		border-bottom: #fff thin solid;
		list-style: none;
	}
		.foot li a {
			display: block;
		}

.foot-bottom {
	background-color: black;
	text-align: center;
}