
.bg-black {
	background-color: black;
}
/*----------------
--header
-----------------*/
.header {
	background-color: #eeeeee;
}
.head-row {
	padding: 100px 0;
}
.head-row-2 {
	padding: 75px 0 50px 0;
}
#h-t-blocks {
	position: relative;
	top: 1%;
}
#title {
	position: relative;
	top: 1%;
}
.head-item-1 {
	padding-top: 125px;
}
.head-item-1 h1, .head-item-1 p, .head-item-1 a {
	margin-left: 100px;
}
.head-item-2 {
	background: url('site/bg-head.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.head-item-3 {
	padding-top: 0;
}
.head-item-3 h1, .head-item-1 p, .head-item-1 a {
	margin-left: 100px;
}
.head-card {
	position: relative;
	width: 50%;
	border-bottom: #67b2ce 4px solid;
}

.head-card-2 {
	position: relative;
	left: 50%;
	right: 0;
}
.head-img {
	width: 26rem;
}
@media only screen and (max-width:768px) {
	.head-card {
		width: 100%;
		margin: 10px 0;
	}
	.head-card-2 {
		left: 0;
	}

}
@media only screen and (max-width:992px) {
	#h-t-blocks {
		top: 1% !important;
	}
	#title {
		top: 1% !important;
	}
	.head-item-1 {
		padding-top: 0;
		margin-bottom: 50px;
	}
	.head-item-1 h1, .head-item-1 p, .head-item-1 a {
		margin-left: 0;
	}
	.head-item-3 h1, .head-item-1 p, .head-item-1 a {
		margin-left: 0;
	}
}
.h-container {
	max-width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media only screen and (min-width: 768px) {
	.h-container {
		max-width: calc(1600px + 10%);
		margin: 0 auto;
		padding-left: 0%;
		padding-right: 0%;
	}
}
/*-----------------
--Navbar
------------------*/

.navbar-brand img {
	width: 100px;
}

.navbar {
	background-color: #eeeeee;
}

.dropdown-menu ul {
	padding: 0;
	margin: 0;
}

/*----------------
--Footer
-----------------*/

.foot li {
	list-style: none;
}

.foot a {
	color: var(--light);
}
	.foot a:hover {
		color: var(--light);
		opacity: 0.7;
	}